[submodule "rcf-app-archetype"]
	path = rcf-app-archetype
	url = ../rcf-app-archetype.git
[submodule "rcf-core"]
	path = rcf-core
	url = ../rcf-core.git
[submodule "rcf-scanner-maven-plugin"]
	path = rcf-scanner-maven-plugin
	url = ../rcf-scanner-maven-plugin.git
